<div class="user">
	<ul>
		Username: <%= @user.username %>
	</ul>
	<ul>
		Email: <%= @user.email %>
	</ul>
</div>

<div class="favorites">
	
	<% @user.personalities.each do |personality| %>
	<%= link_to personality.title, personality %>
	<% end %>
</div>

<div class="comments">
	
	
</div>
