<div>
	<ul>
		Username: <%= @user.username %>
	</ul>
	<ul>
		Email: <%= @user.email %>
	</ul>
</div>

<div>
	
	<% @user.personalities.each do |personality| %>
	<%= link_to personality.title, personality %>
	<% end %>
</div>