<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 well">
    <div class="recentTitle well">
      <h1>All Portraits</h1>
    </div>
    <ul>
      <% @recent.each do |item| %>
        <li>
          <h3><%= link_to item.title, item %></h3>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-2">
  </div>
</div>
