<h1>Recent Searches</h1>
<ul>
  <% @recent.each do |item| %>
    <li>
      <a href="/results/<%= item.id %>"><h3><%= item.title %></h3></a>
      <%= item.input[0..300] %>
    </li>
  <% end %>
</ul>
