<style>
  .dThree {
    display: inline-block;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 10px;
    height: 800;
  }
</style>
<h1>Results</h1>
<h3><%= @watson.title %></h3>
<div id="personality"></div>
<div id="watson_data" params="<%= @params_id %>"></div>
<div id="bigFive" class="dThree">
  <h4>Big Five</h4>
</div>
<div id="needs" class="dThree">
  <h4>Needs</h4>
</div>
<div id="values" class="dThree">
  <h4>Values</h4>
</div>
<script>
  $(document).ready(function(){
   dThree()
  });
</script>
