<h1>Results</h1>
<h3><%= @watson.title %></h3>
<div id="personality"></div>
<div id="watson_data" params="<%= @params_id %>"></div>

<script>
  $(document).ready(function(){
   dThree()
  });
</script>
