// Place all the styles related to the personality controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#needs {
	position: relative;
}

#personality p {
	font-size: 11px;
}

#watson_data {
	display: inline-block;
	justify-content: space-around;
	margin-bottom: 40px;
}

.brand {
	height: 27px;
	margin-right: 10px;
	display: inline-block;
}

.brand span {
	color: rgb(255, 255, 255);
}

.dThree {
	vertical-align: top;
	display: inline-block;
	border-radius: 15px;
	background-color: rgb(255, 255, 255);
	padding: 15px;
	margin: 4px;
	height: 650px;
	width: 334px;
}

.d3-tip {
	width: 200px;
  line-height: 1.2;
	font-family: sans-serif;
  font-weight: normal;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.showMore {
	font-size: 12px;
	margin-left: 280px;
	position: absolute;
}

.hideContent {
	overflow: hidden;
	height: 650px;
}

div .showContent {
	height: 1500px;
}

.search_container {
  text-align: center;
  margin: 0 auto;
}

.personality-nav {
  width: 145px;
}

.nav-pills {
  margin: auto;
  min-width: 70px;
  font-weight: bold;
}

.nav-pills .toggle a {
  color: #2B9D91 !important;
  font-size: 115%;
}

.search_forms {
  min-height: 400px;
  width: 600px;
  margin: 0 auto;
}

.nav-pills .active a {
  background-color: #9D593A !important;
}

#twitter{
  margin-top: 22%;
}

.clear {
	font-weight: bold;
  border-radius: 4px;
}

.favorited .favorite {
  display: none;
}

.favorited .unfavorite {
  display: inline;
}

.unfavorite {
  display: none;
}
