// Place all the styles related to the personality controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clear {
	font-weight: bold;
}

.favorited .favorite {
  display: none;
}

.favorited .unfavorite {
  display: inline;
}

.unfavorite {
  display: none;
}
.dThree {
	display: inline-block;
	border-radius: 15px;
	background-color: rgb(255, 255, 255);
	padding: 15px;
	margin: 10px;
	height: 800;
}
